header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: lightblue;
}

h1 {
  justify-self: center;
}

.scores {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: auto;
  padding-right: 10px;
}
